@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Unbounded:wght@200..900&display=swap');

body {
    font-family: Unbounded, Overpass, Montserrat;
    margin: 0;
    padding: 0;

    color: #f5f5f5;
    background: #4e5261;
background: radial-gradient(circle,rgb(27, 29, 35) 0%, rgba(46, 42, 42, 1) 100%);
    
    
}

.busqueda {
    text-align: center;
    margin-bottom: 20px;
}

.busqueda h1{
    color:  #e53bba;
    
}

.busqueda input,
.busqueda select {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #1a1a1a;
    color: #fff;
    transition: all 0.3s ease;
}

.busqueda input:focus,
.busqueda select:focus {
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 10px #e53bba;
}

/*Calendario*/

.calendario {
    width: 100%;
    max-width: 900px;
    margin: auto;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
}

.calendario-header h2 {
    margin: 0;
    
}

.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #998e8e;
}

.fechas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.fecha {
    padding: 15px;
    border-radius: 8px;
    background: #2a2a2a;
    min-height: 70px;
    position: relative;

}

.fecha:hover {
    background: #3a3a3a;
    box-shadow: 0 0 8px #e53bba;
}

.fecha.evento {
    background: #311b2f;
    box-shadow: 0 0 8px #e53bba;
}

.fecha span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.8em;
    color: #ccc;

}

.btn {
    background: #e53bba;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #f9f8f9;
    color: #e53bba;
}

/* Celulares (pantallas pequeñas) */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .busqueda {
        flex-direction: column;
        align-items: stretch;
    }

    .busqueda label {
        margin-top: 10px;
    }

    .evento {
        font-size: 14px;
        padding: 10px;
    }
}

/* Tablets (pantallas medianas) */
@media (min-width: 601px) and (max-width: 1024px) {
    .resultados {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Computadoras (pantallas grandes) */
@media (min-width: 1025px) {
    .resultados {
        grid-template-columns: repeat(3, 1fr);
    }
}