

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Unbounded:wght@200..900&display=swap');

*
{
    margin: 0;
    padding:0;
    border: 0;
    list-style: none;
    text-decoration:none;
    box-sizing: border-box;
    
}

body{
    font-family: Overpass;
    font-size: 12px;
}

#bienvenida{
    background-image: url(../IMG/tp238-background-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    left: 0;
    top:0;
    transition: top 1s ease-out;
    
}

.destacado-bienvenida {
    font-family: Unbounded, cursive; 
    color: #d939be; 
    
}

#unico h1{
    
    font-family: Unbounded;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

#checkAvanzar{
    display: none;
}

#btnAvanzar{
    position: absolute;
    cursor: pointer;
    background-color: #fcfcfc;
    border-radius: 5px;
    left: 675px;
    bottom: 50px;
    font-size: 40px;
    color: white;
    padding: 10px 15px;
    transition: all 1s ease;
    z-index: 10;

}

#encabezado {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #30334b;
    margin: 0;
    padding: 0;
    border: 0;
}

.inicio{
    position: relative;        
    top: 100vh;             
    left: 0;
    width: 100%;
    background-color: #3f3a3a;  
    display: flex;
    /*justify-content: center;*/
    justify-content: flex-start;
    align-items: center;
    transition: all 1s ease;
    min-height: 100vh;


    margin: 0;
    padding: 0;
    border: 0;
}

footer{
    /*position: fixed;*/
    position: relative;
    bottom: -60px; 
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #042331;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#checkAvanzar:checked ~ .inicio{
    top: 0;
    position: relative;

}


#checkAvanzar:checked ~ #bienvenida{
    top:-100vh;

}

#checkAvanzar:checked ~ footer{
    bottom: 0;

}

#checkAvanzar:checked ~ .labelBotonAvanzar #btnAvanzar{

    opacity: 0;
    pointer-events: none;
}

/*Parte de inicio*/

.inicio{
    display: flex;
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: center; 
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-left: 20px;
    padding: 0;
    

}

nav ul li a{
    text-decoration: none;
    padding: 0.3em 0.5em;
    display: block;
    color: rgb(244, 241, 241);
    font-family: Overpass;
    font-size: 1.5em;
}

nav ul li a:hover{
    color: #d939be;
    transform: scale(1.25);
}

#textoEntrada{
    justify-content: flex-start;
}


/*Carrusel*/

.titulo-seccion {
    text-align: center;
    padding: 30px 20px;
    background-color: #ffffff00;
}

.titulo-seccion h2 {
    font-family: Unbounded;
    font-size: 2.5em;
    color: #e53bba;
    margin-bottom: 10px;
}

.titulo-seccion p {
    font-size: 1.2em;
    color: #fffefe;
}


.carousel-item {
    height: 500px; 
    overflow: hidden;
   
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}


.bloques {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  gap: 20px;
}

.bloque {
  flex: 1;
  background: #c0d7f2;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bloque:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

